
#container{
    background-color: #39B0B0;
    height: 100vh;
}

h1{
    padding: 50px;
    color: black;
    font-family: bad 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    height: 100px;
    width: 200px;
    color: black;
}

img{
    height: 200px;
    width: 200px;
    
}
